# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# IDE y editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Archivos temporales
*.tmp
*.temp
*.log
~$*